body.main {
  background-color: #100363
}
h1.gold  {
  text-align: center;
  color: #FFB900;

}
img.img-index {
  height: 130px;
  width: 300px;
  float: right;
}
img.img-index2 {
  height: 250px;
  width: 320px;
}

h3.gold {
  color: #FFB900
}
